*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    margin: 0;
    padding: 0;
    font-size: 62.5%; 
    -webkit-font-smoothing: antialiased;
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

@media (max-width: 1100px) {
    .projects-cards {
        height: auto !important;
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    article {
        height: auto !important;
        flex-direction: column !important;
    }
}

@media (max-width: 800px) {
    body {
        height: auto !important;
        flex-direction: column;
        align-items: center;
    }
}

body {
    position: absolute;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 4rem 4rem 2rem 4rem;
    font-family: 'Merriweather Sans', sans-serif;;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--body-bg-color);
    display: flex;
    gap: 6rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
small,
p {
    margin: 0;
    padding: 0;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card-style {
    background-color: var(--bg-cards);
    box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
}

.profile {
    width: 34.8rem;
    height: 29.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile img {
    width: 12.8rem;
    height: 12.8rem;
    border-radius: 50%;
    border: 0.2rem solid #00FF00;
}

.profile h2 {
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 2.9rem;
    margin-top: 3rem;
    margin-bottom: 0;
}

.profile h3 {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.6rem;
    margin-top: 1rem;
}

.networks {
    width: 34.8rem;
    height: 34.8rem;
    display: flex;
    align-items: center;
}

.networks svg {
    width: 2.4rem;
    height: 2.4rem;
}

.networks ul {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.networks ul li {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.techs {
    width: 34.8rem;
    height: 20.8rem;
}

.techs h2 {
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 2rem;
    line-height: 2.5rem;
}

.techs ul {
    margin-top: 2rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
}

.techs ul li {
    width: 8.6rem;
    height: 2.4rem;
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: center;
    color: #000000;
    border-radius: 3rem;
    background-color: var(--bg-techs);
    display: flex;
    align-items: center;
    justify-content: center;
}

.techs ul li:hover {
    transform: translateY(0.1rem)
}

.experiences {
    width: 34.8rem;
    height: 34.9rem;
}

.experiences h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.experiences h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.experiences small {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    font-style: normal;
}

.experiences p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
}

.experiences ul {
    width: 17.5rem;
    height: 24.3rem;
    margin-left: 5.5rem;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.education {
    width: 34.8rem;
    height: 35.2rem;
    margin-bottom: 5.8rem;
}

.education h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.education h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.education small {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    font-style: normal;
}

.education p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
}

.education ul {
    width: 17.5rem;
    height: 24.3rem;
    margin-left: 5.5rem;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.myproject-header {
    width: 100%;
    height: 8.6rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myproject-header a:hover {
    text-decoration: underline;
}

.projects-cards {
    width: 100%;
    height: 18.6rem;
    display: flex;
    gap: 3rem;
}

.card {
    width: inherit;
    height: inherit;
    padding: 3.1rem 1rem 3rem 3rem;
}

.card header {
    display: flex;
    gap: 1.6rem;
}

.card header h3 {
    font-size: 1.6rem;
    line-height: 2rem;
}

.card p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    font-style: normal;
    margin-top: 2.2rem;
}

.card header svg {
    width: 2rem;
    height: 2rem;
}

.github-icons-container {
    margin-top: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.github-icons-container svg {
    width: 2rem;
    height: 2rem;
}

.github-icons-container div span:nth-child(2) {
    padding-right: 1.6rem;
}

.flex-align {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.recent-posts {
    width: inherit;
    height: 8.6rem;
}

.recent-posts h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 3rem auto 3rem 3rem;
}

article {
    width: inherit;
    height: 20.1rem;
    padding: 3rem 4.2rem 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

article img {
    width: 12.8rem;
    height: 12.8rem;
    border-radius: 50%;
}

.post-content {
    display: flex;
    flex-direction: column;
    
}

.post-content a h3 {
    font-size: 1.8rem;
    font-style: normal;
    line-height: 2.3rem;
}

.post-content small {
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8rem;
}

.post-content p {
    padding-top: 2.8rem;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
}

.post-content ul {
    display: flex;
    gap: 1rem;
}

.post-content ul li {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-top: 1.2rem;
}







